#!/usr/bin/env bash

# export TERRAFORM_WORKSPACE=jason-local-farm-runner
export TF_STATE_BUCKET="xxx" # update your details
export TF_STATE_OBJECT_KEY="serverless-jenkins.tfstate" # update your details
export TF_LOCK_DB="xxx" # update your details
export AWS_REGION="xxx" # update your details

PRIVATE_SUBNETS='["subnet-xxx", "subnet-xxx"]' # update your details
PUBLIC_SUBNETS='["subnet-xxx", "subnet-xxx"]' # update your details
VPC_ID="vpc-xxx" # update your details

export TF_VAR_route53_create_alias="false"
export TF_VAR_route53_zone_id="xxx" # update your details
export TF_VAR_route53_domain_name="xxx.xxx" # update your details
# export TF_VAR_jenkins_admin_password="xxx"

export TF_VAR_vpc_id=${VPC_ID}
export TF_VAR_efs_subnet_ids=${PRIVATE_SUBNETS}
export TF_VAR_jenkins_controller_subnet_ids=${PRIVATE_SUBNETS}
export TF_VAR_alb_subnet_ids=${PUBLIC_SUBNETS}